@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap'); 
/*  ********************************** GLOBAL ***********************************   */
body {
    color: #783d07;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 115px;
}
a {
    color: #783d07;
    font-weight: 400;
}
a:hover, a:focus {
    color: #783d07;
    opacity: 1;
    opacity: 0.75;
}
h1 {
    color: orange;
    font-style: italic;
    font-family: 'Amita', cursive;
    font-weight: 700;
}
footer {
    background-color: #fccba5;
}
footer a:active i.redes {
    transform: scale(97%);
}
.ls-tight {
    letter-spacing: -2px;
}
.btn {
    background-color: #b03d03;
    color: #fff;
    transition: all .7s;
}
.btn:hover {
    color: #b03d03;
    background-color: #fff;
    border-color: #b03d03;
}
.btn-outline {
    background-color: transparent;
    border-color: #b03d03;
    color: #b03d03;
    transition: all .7s;
}
.btn-outline:hover {
    color: #b03d03;
    background-color: #fff;
}
.form-control {
    color: #783d07;
    ;
    border-color: rgba(120, 61, 7, 0.25);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #783d07;
    ;
    border-color: rgba(120, 61, 7, 0.75);
    box-shadow: 0 0 0 0.25rem rgba(120, 61, 7, 0.15);
}
.mtn-5 {
    margin-top: -1.5rem !important;
}
.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
/*  ********************************** /  GLOBAL ***********************************   */
/*  **********************************  NAVBAR  ***********************************   */
nav.navbar {
    background-color: #faf7ee;
}
.navbar-nav .nav-link {
    color: rgba(68, 22, 3, 0.7);
    font-weight: 400;
}
.nav-link:hover, .nav-link:focus {
    color: #783d07;
    opacity: 1;
}
.navbar-nav a.active, .navbar-nav .nav-link.active {
    color: #783d07;
    opacity: 1;
    font-weight: 500;
}
.navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    border-bottom: 2px solid orange;
    margin-top: -2px;
}
.navbar-nav .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid orange;
    margin-top: -2px;
}
.navbar-toggler {
    border-color: transparent;
}
.navbar-toggler:active {
    transform: scale(95%);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(68, 22, 3, 0.40)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(68, 22, 3, 0.65)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*  ********************************** / NAVBAR  ***********************************   */
/*  ********************************** CAROUSEL  ***********************************   */
.carousel-item {
    height: 32rem;
}
.carousel-caption {
    background-color: rgba(24, 7, 0, 0.5);
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    right: 0;
    bottom: 0;
    left: 0;
}
/*  ********************************** / CAROUSEL  ***********************************   */
/*  ********************************** PREFERIDOS ***********************************   */
.preferido-img-wrap {
    height: 300px;
    border-radius: 21px 21px 0 0;
}
.preferido-img-wrap img {
    border-radius: 21px 21px 0 0;
}
@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.65rem;
    }
}
h3 {
    position: relative;
    display: inline-block;
}
h3::before {
    content: url("../img/text-ornament.svg");
    display: inline-block;
    width: 30px;
    height: auto;
    position: absolute;
    left: -37px;
}
h3::after {
    content: url("../img/text-ornament-end.svg");
    display: inline-block;
    width: 30px;
    height: auto;
    position: absolute;
    right: -37px;
}
.box {
    --mask:
        radial-gradient(18.93px at 50% calc(100% - 26.40px), #000 99%, #0000 101%) calc(50% - 22px) 0/44px 100%, radial-gradient(18.93px at 50% calc(100% + 15.40px), #0000 99%, #000 101%) 50% calc(100% - 11px)/44px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}
/*  **********************************  /  PREFERIDOS ***********************************   */
.hero {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.myfont {
    font-family: 'Roboto', sans-serif;
    /*    color: darkslategrey; */
}
#subtitulo, .subtitulo {
    /*  font-size: 50px; */
    color: orange;
    font-style: italic;
    font-family: 'Amita', cursive;
    font-weight: bolder;
}
#subtitulo2, .subtitulo2 {
    font-size: xx-large;
    color: orange;
    font-weight: bolder;
    text-align: center;
    font-style: normal;
}
.right {
    width: 33%;
    height: 100px;
}
.left {
    /*display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;*/
    width: 33%;
    /*height: 100px;*/
}
.center {
    width: 33%;
}
.tarjeta {
    border: 1px solid rgb(167, 167, 165);
    margin: 10px;
    border-radius: 2%;
}
/*  ********************************** CSS COMBOS ***********************************   */
.combos .nav-tabs .nav-link {
    color: #783d07;
    opacity: 0.3;
}
.combos .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #783d07;
    opacity: 0.5;
}
.combos .nav-tabs .nav-link.active {
    color: #783d07;
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
}
.combos button {
    text-transform: uppercase;
}
.combos .card-title {
    color: #783d07;
    font-weight: 500;
}
.combos .card-title.price {
    color: #b03d03;
}
.combos .card-text {
    color: #783d07;
    font-weight: 300;
}
.combos .card-body .card-title:first-child {
    min-height: 50px;
}
.combos .card::after {
    content: '';
    display: block;
    border-bottom: 1px solid #441603;
    margin-top: 35px;
    margin-bottom: 55px;
    opacity: 0.20;
}
/*  ********************************** /  CSS COMBOS ***********************************   */